{:paths []

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/tools.deps.alpha {:mvn/version "0.12.1041"}
  org.slf4j/slf4j-nop {:mvn/version "1.7.30"}}

 :aliases
 {:build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.2.0" :git/sha "7cbb94b"}}
   :paths ["script"]
   :ns-default build}}}
