{:paths []

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/tools.deps.alpha {:mvn/version "0.12.1109"}
  org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}

 :aliases
 {
  ;; clj -T:build release
  :build    
  {:deps {io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}}
   :paths ["script"]
   :ns-default build}
  
  ;; clj -X:test
  :test {:extra-paths ["src/test/clojure"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "705ad25bbf0228b1c38d0244a36001c2987d7337"}}
         :exec-fn cognitect.test-runner.api/test
         :exec-args {:dirs ["src/test/clojure"]
                     :patterns [".*"]}
         :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
  
  }}
